<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>George Clymer</string>
	<string>Robert Morris</string>
	<string>Benjamin Rush</string>
	<string>James Smith</string>
	<string>George Taylor</string>
	<string>Benjamin Franklin</string>
	<string>John Morton</string>
	<string>George Ross</string>
	<string>James Wilson</string>
</array>
</plist>
