<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stella</key>
	<string>600 years of brewing tradition from Belgium.</string>
	<key>Jack Daniels</key>
	<string>I make very very very very very very very very very very very very very very very very very very very very very very very very very very very  very very very very very very very very very very good whisky.</string>
	<key>John Jameson</key>
	<string>During the great storm of 1781, I lost a barrel of my beloved whiskey. I said goodbye to the crew, and went in after it. In hindsight, that probably wasn&apos;t a good idea.</string>
	<key>Captain Morgan</key>
	<string>Ninety-nine bottles of rum on the wall, ninety-nine bottles of rum. You take one down, pass it around, ninety-eight bottles of rum on the wall.</string>
	<key>Johnnie Walker</key>
	<string>Keep walking.</string>
	<key>Jose Cuervo</key>
	<string>Cue the tables. Cue the chairs. Cue the full count in the bottom of the ninth. Cue the Cuervo.</string>
	<key>Jim Beam</key>
	<string>All choices lead you somewhere. Bold choices take you where you&apos;re supposed to be.</string>
</dict>
</plist>
