<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aunt Sally</key>
	<string>It&apos;s great to hear from you, Brian! Grandma&apos;s doing fine :)</string>
	<key>Junki Nakayama</key>
	<string>I&apos;m excited for the TOC this week. I really hope I get a job!</string>
	<key>Harley Montano</key>
	<string>Interviews with Schlumberger and NSA on Thursday. So pumped.</string>
	<key>Charles &apos;Che&apos; Rawlins</key>
	<string>Thanks for coming to the Che-Flo concert last night in UC Rangos</string>
	<key>Emerson Stoldt</key>
	<string>Yo I stole the fence. Let&apos;s paint it tonight!</string>
	<key>Mohit Moondra</key>
	<string>Hoodie Allen concert</string>
	<key>Ashtyn Hemendinger</key>
	<string>Just another day as an extra in a movie with RUSSEL CROWE</string>
</dict>
</plist>
