<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Harley Montano</key>
	<string>harley_montano</string>
	<key>Junki Nakayama</key>
	<string>junki_nakayama</string>
	<key>Emerson Stoldt</key>
	<string>emerson_stoldt</string>
	<key>Ashtyn Hemendinger</key>
	<string>ashtyn_hemendinger</string>
	<key>Charles &apos;Che&apos; Rawlins</key>
	<string>charles_rawlins</string>
	<key>Mohit Moondra</key>
	<string>mohit_moondra</string>
	<key>Stella</key>
	<string>stella</string>
</dict>
</plist>
