<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stella</key>
	<string>600 years of brewing tradition from Belgium.</string>
	<key>Jack Daniels</key>
	<string>I make very very very very very very very very very very very very very very very very very very very very very very very very very very very  very very very very very very very very very very good whisky.</string>
	<key>John Jameson</key>
	<string>#ireland #ruddyFace</string>
	<key>Captain Morgan</key>
	<string>Ninety-nine bottles of rum on the wall, ninety-nine bottles of rum. You take one down, pass it around, ninety-eight bottles of rum on the wall.</string>
	<key>Johnnie Walker</key>
	<string>#class, #colorMyLabel</string>
	<key>Jose Cuervo</key>
	<string>#mexico #blueAgave</string>
	<key>Jim Beam</key>
	<string>#whisky #smokey #haveMeWIthCoke</string>
</dict>
</plist>
