<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cocaine</string>
	<string>hookers</string>
	<string>alcohol</string>
	<string>grandma</string>
	<string>scientology</string>
</array>
</plist>
